.mybtn{
    background-color: #7952b3 ;
    border: 1px solid #7952b3 ;
    border-radius: 6px;
    color: #fff !important;
    font-size: 12px;
    padding: 12px 25px ;
    text-decoration: none;
    text-transform: uppercase;
    transition: .3s;
    display: inline-block;
}
.mybtn:hover{
    background-color: transparent ;
    border: 1px solid #fff;
}

.carousel-caption{
    margin-bottom: 55px;
    padding-bottom: 1.25rem;
}
.carousel-caption h4{
    font-size: 1.15rem !important;
}
.carousel-caption h2{
    font-size: 42px !important;
}
